@import "var";
@import "typo";

.input {

    &__search {
        @extend %body-2__400;
        outline: none;
        background-color: transparent;
        padding: 8px 20px;
        border: $border-top-stroke1;
        border-radius: $radius-border1;
        color: $color-top-text-primary;
        transition: background-color 150ms;

        &::placeholder {
        color: $color-top-text-primary;
        }

        &:focus {
        background-color: $color-background-overflow;
        color: $color-text-primary;
        }
    }

    &__form {
        @extend %caption-1__400;
        outline: none;
        background: $color-background-secondary;
        border: $border-stroke2;
        border-radius: $radius-border1;
        padding: 12px 32px;
        transition: border 150ms;

        &::placeholder {
            color: $color-text-tertiary;
        }

        &:hover {
            border: $border-stroke1;
        }

        &:focus {
            border: $border-stroke1;
        }

    }
}