$color-top-text-primary: #FFFFFF;
$color-text-primary: #000000;
$color-text-secondary: #888888;
$color-text-tertiary: #C4C4C4;
$color-background-overflow: #FFFFFF;
$color-background-primary: #F7F6F6;
$color-background-secondary: #FFFFFF;
$color-applied-control-accent: #000000;
$color-applied-control-secondary: #DED7D769;

$border-top-stroke1: 1px solid #FFFFFF;
$border-top-stroke2: 0.5px solid #FFFFFFCC;
$border-stroke1: 1px solid #000000;
$border-stroke2: 1px solid #C4C4C4;

$radius-border1: 20px;
$radius-border2: 12px;
$radius-border3: 12px;
$radius-border4: 6px;

$grid-12: repeat(12, 1fr);